%p#notice= notice

%h1= @funny.title
%div= image_tag @funny.pic.url(:large)
- unless current_user.voted?(@funny)
  = link_to "+1", upvote_funny_path(@funny)
  = link_to "-1", downvote_funny_path(@funny)

= link_to 'Edit', edit_funny_path(@funny) if current_user.owns?(@funny)
\|
= link_to 'Back', funnies_path
